*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 text-align: center;
    padding: 50px;
   
    
}

#clock {
    font-size: 100px;
    display: block;
   text-align: center;
    padding: 50px;
    color: green;
    border: 1px solid grey;
    width: 35%;
    margin:auto;
    background-color: rgb(19, 20, 35);
}
